<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">

<head>
    <title>{{Title}}</title>
    <link rel="stylesheet" href="{% static 'article.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <style>

        #articleimage{
        height: 100% !important;
        width: 100% !important;
        }
    @media screen and (min-width: 640px) {
        .small_screen{
            display:none;
        }
    }

    </style>
    <script>

    window.onload = function() {
        document.getElementById("loader").style.display="none";
        document.getElementById("menu").style.display="block";
        document.getElementById("articles").style.display="block";
        var save_buttons = document.getElementsByClassName("btn btn-primary");
        var i = 0;
        for(i = 0;i<save_buttons.length;i++)
        {
            save_buttons[i].onclick=function() {saveArticleFunction(this);}
            console.log(save_buttons[i].id);
        }
    };
        function saveArticleFunction(item)
        {
            var article =  item.id;
            alert("Button Pressed.");
            $.ajax({
                url: '/save/',
                data:article,
                dataType: 'json',
                success: function (data) {
                console.log(data);
                    if (data.is_saved) {
                        alert(" Article Saved.");
                    }
                    else{
                        alert(" Article Not Saved.");
                    }
                }
            });
        }
    </script>
</head>
<body >

    {% include 'basePageDisplay.html' %}
<div id="articles" class="container-fluid"  style="background-image:url({% static 'grey_wash_wall.png' %}); background-repeat:repeat; background-attachment: fixed;display:none;">
    <p>.</p>
    <div class="row" style="margin-top: 70px !important;font-size: initial !important;">
    {% for article in Articles %}
        {% if article.title %}
  <div class="col-sm-6 col-md-4" style="height: 600px !important;">
    <div class="thumbnail">
      <img class="lib-img-show" style="height:200px !important;" src="{{article.urlToImage}}"  alt=" img of {{article.title}}"/>
      <div class="caption" style="height:300px;" >
        <h3><a href="{{article.url}}">{{article.title}}</a></h3>
          <p>{{article.description}}</p>
          <div>
              {{article.publishedAt}}
          </div>
      {% if request.user.is_authenticated %}
        <p><button style="float: right;" id="{{article}}" type="button" class="btn btn-primary">Save</button></p>
      {% endif %}
      </div>
    </div>
  </div>
        <div class="small_screen"><br/></div>
<!--</div>-->
        {% endif %}
    {% endfor %}
    </div>
    <a href="https://newsapi.org/">Developed with News Api</a>
</div>
</body>
</html>
<!--author = models.CharField(max_length=50)-->
    <!--title = models.CharField(max_length=120)-->
    <!--desciption = models.CharField(max_length=700)-->
    <!--source_url = models.URLField()-->
    <!--url_to_image = models.URLField()-->
    <!--publishedAt = models.DateTimeField()-->



